<!--<canvas #canvas id="canvas" style="border: solid 1px">
  Fallback content
</canvas>-->
<canvas
  #canvas
  id="canvas"
  style="
    border: solid 1px;
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 100;
    pointer-events: none;
  "
>
</canvas>

<div cdkDropListGroup>
  <div *ngFor="let n of numSequence(10); let i = index" class="row">
    <!--  {{i}}-->
    <div *ngFor="let n of numSequence(10); let a = index" class="col">
      <div
        #thing
        (cdkDropListDropped)="taskDrop($event)"
        (click)="divClick(i.toString() + a, $event, thing)"
        [cdkDropListConnectedTo]="['panels']"
        [id]="i.toString() + a"
        cdkDropList
        class="drop-zone"
        id="hello"
      >
        <!--    |{{ i }}{{ a }}|-->

        <div *ngFor="let panel of panels">
          <div
            (cdkDragEnded)="(onDragEnded)"
            *ngIf="panel.location === i.toString() + a"
            [cdkDragData]="panel"
            [ngStyle]="{ border: '1px solid' + panel.color }"
            cdkDrag
            class="panel"
          >
            {{ panel.location }}
            <pane [id]="panel.location"></pane>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
