.row {
  display: flex;
  //display: flex;
}

.col {
  border: 0.01px solid black;
  /*  display: flex;
    flex-direction: column;*/
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #24292e;
  background-color: #1976d2;
  width: 50px;
  height: 50px;

  //color: #1976d2;
}

.panel {
  //align-items: center;
  //justify-content: center;
  border: 1px solid orangered;
  width: 25px;
  height: 25px;
}

.content {
  position: relative;
  z-index: 2;
  margin: 50px;
}

canvas {
  width: 80%;
  //width: 1000px;
  height: 80%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
  margin: -250px 0 0 -250px;
}
