.row {
  display: flex;
  //display: flex;
}

.col {
  border: 0.01px solid black;
  /*  display: flex;
    flex-direction: column;*/
}

.project-design-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #24292e;
  background-color: #ffffff;
  width: 30px;
  height: 30px;

  //color: #1976d2;
}

.panel {
  //align-items: center;
  //justify-content: center;
  //border: 1px solid orangered;
  background-color: #95c2fa;
  width: 20px;
  height: 20px;

  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  position: relative;
  z-index: 2;
  margin: 50px;
}

.custom-menu {
  display: flex;
  align-items: flex-end;
}

mat-menu {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}

.mat-menu-panel {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}

/*.mat-menu-item {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}*/

canvas {
  width: 80%;
  //width: 1000px;
  height: 80%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
  margin: -250px 0 0 -250px;
}
