# See http://help.github.com/ignore-files/ for more about ignoring files.

start-ngrok.ps1
start-ngrok-no-domain.ps1

supabase.ts
supabase.js
supabase.d.ts

auth0.ts
auth0.js
auth0.d.ts

auth0.prod.ts
auth0.prod.js
auth0.prod.d.ts

sentry.ts
sentry.js
sentry.d.ts

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

.angular
/ssl/
#libs/core-components-angular/**/generated
