<!--<ng-template *ngrxLet="project$ | async as project">-->
<mat-toolbar class="grid-toolbar-container">
  <button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>brush</mat-icon>
  </button>
  <button
    (click)="enterCreateMode()"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
    (click)="enterDeleteMode()"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
<!--</ng-template>-->

<mat-menu #menu="matMenu">
  <button (click)="selectCreatePanelMode()" mat-menu-item>Panels</button>
  <button (click)="selectCreateCableMode()" mat-menu-item>Cable</button>
</mat-menu>
