<div
  class="project-tree">

  <button (click)="createInverter(3)">Create inverter</button>
  <ng-container *ngIf="inverters">
    <div *ngFor="let inverter of inverters; let i = index">
      <div cdkDropListGroup class="project-tree__inverter-item">

        <!--      <button mat-stroked-button color="primary" (click)="toggleInverter(inverter, i)">
                {{inverter.name}}{{i}}
              </button>-->
        <div>
          <button (click)="toggleInverter(inverter, i)" [attr.aria-label]="'Toggle ' + inverter.name" mat-icon-button>
            <mat-icon class="mat-icon-rtl-mirror">
              {{inverterBool[i] ? 'expand_more' : 'chevron_right'}}
            </mat-icon>

          </button>
          <span>{{inverter.name}} [{{inverter.trackerAmount}}]</span>
          <!--          <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{item: inverter}">
                      <mat-icon>more_vert</mat-icon>
                    </button>-->

        </div>
        <!--      {{inverter.trackerAmount}} Trackers-->

        <ng-container *ngIf="trackers">
          <div

            *ngIf="inverterBool[i]">
            <!--            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
            <!--              <mat-icon>more_vert</mat-icon>-->
            <!--            </button>-->
            <!--            <button mat-icon-button (click)="openMenu($event, inverter)" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>-->
            <div class="project-tree__inverter-item__button-menu">
              <app-button-menu [projectId]="3" [model]="1" [inverter]="inverter"></app-button-menu>
            </div>


            <div cdkDropList [id]="tracker.id.toString()"
                 cdkDropListOrientation="vertical"
                 [cdkDropListData]="strings! | testPipe:tracker.id"
                 (cdkDropListDropped)="taskDrop($event)" *ngFor="let tracker of trackers; let a = index">
              <div class="project-tree__tracker-item"
                   *ngIf="tracker.inverterId === inverter.id">
                <!--              <button mat-stroked-button color="secondary"
                                      (click)="toggleTracker(tracker, a)">{{tracker.name}}{{a}}</button>-->

                <div>
                  <button (click)="toggleTracker(tracker, a)" [attr.aria-label]="'Toggle ' + tracker.name"
                          mat-icon-button>
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{trackerBool[a] ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{tracker.name}}  [{{tracker.stringAmount}}]
                </div>
                <div *ngIf="trackerBool[a]">
                  <div class="project-tree__tracker-item__button-menu">
                    <app-button-menu [projectId]="3" [model]="2" [inverter]="inverter"
                                     [tracker]="tracker"></app-button-menu>
                  </div>
                  <!--                  [cdkDropListData]="strings!"-->
                  <div>
                    <div
                      [cdkDragData]="stringModel"

                      cdkDrag *ngFor="let stringModel of strings; let b = index">
                      <!--                      cdkDropList [id]="stringModel.id.toString()"-->
                      <div class="project-tree__string-item"
                           cdkDropList [id]="stringModel.id.toString()"
                           [cdkDropListData]="panels! | filterPanels:stringModel.id"
                           (cdkDropListDropped)="taskDrop($event)"
                           *ngIf="stringModel.trackerId === tracker.id">
                        <mat-icon cdkDragHandle class="project-tree__string-item__handle">drag_indicator</mat-icon>
                        <button (click)="toggleString(stringModel, b)" [attr.aria-label]="'Toggle ' + stringModel.name"
                                mat-icon-button>
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{stringBool[b] ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                        {{stringModel.name}} [{{stringModel.panelAmount}}]
                        <div *ngIf="stringBool[b]">
                          <div class="project-tree__string-item__button-menu">
                            <app-button-menu [projectId]="3" [model]="3" [inverter]="inverter" [tracker]="tracker"
                                             [string]="stringModel"></app-button-menu>
                          </div>
                          <div *ngIf="panels">
                            <div [cdkDragData]="panel"

                                 cdkDrag *ngFor="let panel of panels; let c = index">
                              <div class="project-tree__panel-item">
                                <div *ngIf="panel.stringId === stringModel.id">
                                  <div>
                                    <mat-icon cdkDragHandle class="project-tree__string-item__handle">drag_indicator
                                    </mat-icon>
                                    {{panel.name}} {{panel.location}}

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--          </table>-->
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>


<div style="visibility: hidden; position: fixed;"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="menu"></div>

<!-- standard material menu -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-inverter="item">
    <!--    <label>{{inverter.name}}</label>-->
    <button mat-menu-item (click)="click()">Add Tracker</button>
    <button mat-menu-item (click)="click()">Edit</button>
    <button mat-menu-item (click)="click()">View</button>
    <button mat-menu-item (click)="click()">Delete</button>
  </ng-template>
</mat-menu>
