<button (click)="createProject()" mat-button>create</button>
<div class="containerOuter">
  <div class="containerInner">
    <h1 class="title">Solar <span class="titlePink">Engineer</span></h1>

    <div *ngIf="projects$ | async as projects">
      <div>
        <mat-selection-list *ngFor="let project of projects" [multiple]="false">
          <mat-list-option>
            {{ project.name }}
          </mat-list-option>
        </mat-selection-list>
        <p></p>
      </div>
    </div>
  </div>
</div>
