<!--<div class="toolbar" role="banner">
  <button (click)="signIn()">Sign IN</button>
  &lt;!&ndash;  <button (click)="sendSocket()">SOCKET</button>&ndash;&gt;
  &lt;!&ndash;  <div *ngIf="websocketService.messages | async; let messages">
      <div *ngIf="messages">
        {{ messages.action }}
        {{ messages.username }}
        {{ messages.message }}
      </div>
    </div>&ndash;&gt;
</div>

<div class="content" role="main"></div>-->
<!--<canvas
  #canvas
  [height]="canvas.offsetHeight"
  [width]="canvas.offsetWidth"
  class="canvas"
  style="width: 100%; height: 100%"
>
  <ng-container *ngIf="pathMapCoords$ | async as pathMapCoords">
    {{ drawPaths(pathMapCoords) }}
  </ng-container>
</canvas>-->
<router-outlet></router-outlet>
