.container {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  justify-content: start;
  /*  justify-content: center;
    align-content: center;
    align-self: center;*/
}

.item {
  margin: 10px;
}

.mat-form-field {
  margin-right: 4px;
}

.mat-tree {
  padding: 01px;
  //padding-left: 1px !important;
}

.mat-tree-node {
  padding: 01px;
  //padding-left: 1px !important;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/* This padding sets alignment of the nested nodes. */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}


.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

.tracker-item {
  padding-left: 20px;
}

.string-item {
  padding-left: 40px;
}

h1,
h3 {
  color: green;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.mat-tree {
  background: transparent;
}

.mat-tree-node {
  color: black;
}

/*
.mat-tree-node button {
  padding: 10px;
}
*/
