<!--<ng-container *ngIf="store$ | async let store">
  <div class="container">
    <mat-selection-list #userProjects *ngFor="let inverter of store.inverters" [multiple]="false">
      <mat-list-option (click)="onRouteToInverter(inverter)" [value]="inverter">
        {{inverter.name}}
        &lt;!&ndash;            <app-project-list-item [project]="project"></app-project-list-item>&ndash;&gt;
      </mat-list-option>
    </mat-selection-list>
  </div>
</ng-container>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  &lt;!&ndash; This is the tree node template for leaf nodes &ndash;&gt;
  &lt;!&ndash;  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="true">
      &lt;!&ndash; use a disabled button to provide padding for tree leaf &ndash;&gt;
      <button disabled mat-icon-button></button>
      {{node.name}}
    </mat-tree-node>&ndash;&gt;
  <mat-tree-node (contextmenu)="onRightClick($event, node)" *matTreeNodeDef="let node" matTreeNodeToggle
                 matTreeNodePadding="true">
    <button mat-icon-button></button>
    &lt;!&ndash;    <button mat-icon-button disabled></button>&ndash;&gt;
    {{node.name}}
    &lt;!&ndash;    <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)"
        >{{node.name}}</mat-checkbox>&ndash;&gt;
    &lt;!&ndash;    <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>&ndash;&gt;
  </mat-tree-node>
  &lt;!&ndash; This is the tree node template for expandable nodes &ndash;&gt;
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="true">
    <button [attr.aria-label]="'Toggle ' + node.name" mat-icon-button
            matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    &lt;!&ndash;    <mat-checkbox [checked]="descendantsAllSelected(node)"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>&ndash;&gt;
    &lt;!&ndash;    <button mat-icon-button (click)="addNewItem(node)">&ndash;&gt;
    &lt;!&ndash;    <mat-icon>add</mat-icon>&ndash;&gt;
    &lt;!&ndash;    <h1>{{node.name}}</h1>&ndash;&gt;
    &lt;!&ndash;    <h4>{{node.name}}</h4>&ndash;&gt;
    {{node.name}}
  </mat-tree-node>
  &lt;!&ndash;    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding="true">
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
        >{{node.name}}</mat-checkbox>
        &lt;!&ndash;    <mat-checkbox class="checklist-leaf-node"
                          [checked]="checklistSelection.isSelected(node)"
                          (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>&ndash;&gt;
      </mat-tree-node>&ndash;&gt;
  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding="true">
    <button mat-icon-button disabled></button>
    <mat-form-field appearance="fill">
      <mat-label>New item...</mat-label>
      <input matInput #itemValue placeholder="Ex. Lettuce">
    </mat-form-field>
    &lt;!&ndash;    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>&ndash;&gt;
  </mat-tree-node>

  &lt;!&ndash;    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding="true">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.item">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
  &lt;!&ndash;          <mat-checkbox [checked]="descendantsAllSelected(node)"
                          [indeterminate]="descendantsPartiallySelected(node)"
                          (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
            <button mat-icon-button (click)="addNewItem(node)">&ndash;&gt;
        <mat-icon>add</mat-icon>
        &lt;!&ndash;    </button>&ndash;&gt;
      </mat-tree-node>&ndash;&gt;
</mat-tree>-->

<!--<div class="row">-->
<!--
<div class="col">
  One of three columns
</div>
<div class="col">
  One of three columns
</div>
<div class="col">
  One of three columns
</div>
-->

<!--<div class="project-container">
  <ng-container *ngIf="store$ | async; let store">
    <ng-container *ngIf="gridState$ | async; let grid">
      <div class="project-container__project-tree">
        <app-project-tree
          (inverterView)="updateView($event)"
          [inverters]="store.inverters"
          [panels]="store.panels"
          [strings]="store.strings"
          [trackers]="store.trackers"
        ></app-project-tree>
      </div>
      <div class="project-container__project-display">
        &lt;!&ndash;      <app-project-tree [inverters]="store.inverters" [trackers]="store.trackers" [strings]="store.strings"
                                [panels]="store.panels"></app-project-tree>&ndash;&gt;
        &lt;!&ndash;      <app-inverter-view [inverter]="view"></app-inverter-view>&ndash;&gt;
        &lt;!&ndash;      <app-project-view [store]="store"></app-project-view>&ndash;&gt;
        <app-grid-layout
          [inverters]="store.inverters"
          [panels]="store.panels"
          [selectedStringId]="grid.selectedStringId"
          [strings]="store.strings"
          [trackers]="store.trackers"
        ></app-grid-layout>
      </div>
    </ng-container>
  </ng-container>
</div>-->
<!--
<div class="project-container-v2">
  <ng-container *ngIf="store$ | async; let store">
    &lt;!&ndash;    <ng-container *ngIf="gridState$ | async; let grid">&ndash;&gt;
    &lt;!&ndash;      <ng-container *ngIf="trackerTree$ | async; let tree">&ndash;&gt;
    <div class="project-container-v2__project-tree">
      <app-project-tree></app-project-tree>
      &lt;!&ndash;          <app-tracker-tree
                  [inverter]="tree.inverter"
                  [panels]="tree.panels"
                  [project]="tree.project"
                  [strings]="tree.strings"
                  [tracker]="tree.tracker"
                ></app-tracker-tree>&ndash;&gt;
    </div>
    <div class="project-container-v2__project-display">
      <app-grid-toolbar></app-grid-toolbar>
      <app-grid-layout></app-grid-layout>
    </div>
    <div class="project-container-v2__project-inventory">
      &lt;!&ndash;          <app-string-stats></app-string-stats>&ndash;&gt;
      <app-tracker-stats></app-tracker-stats>
    </div>
  </ng-container>
  &lt;!&ndash;    </ng-container>&ndash;&gt;
  &lt;!&ndash;  </ng-container>&ndash;&gt;
</div>
-->

<!--<div class="project-container-v3">
  <ng-container *ngIf="store$ | async; let store">
    <div class="project-container-v3__project-tree">
      <app-project-tree></app-project-tree>
    </div>
    <div class="project-container-v3__project-display">
      &lt;!&ndash;      <app-grid-toolbar></app-grid-toolbar>&ndash;&gt;
      &lt;!&ndash;      <app-grid-layout></app-grid-layout>&ndash;&gt;
      <app-grid-toolbar></app-grid-toolbar>
      <app-grid-layout></app-grid-layout>
    </div>
  </ng-container>
</div>-->

<div class="project-container-v4">
  <ng-container *ngIf="store$ | async; let store">
    <div class="project-container-v4__project-display">
      <!--      <app-grid-toolbar></app-grid-toolbar>-->
      <!--      <app-grid-layout></app-grid-layout>-->
      <app-grid-toolbar></app-grid-toolbar>
      <app-grid-layout></app-grid-layout>
    </div>
  </ng-container>
</div>

<!--
<div class="project-container-v3">
  <ng-container *ngIf="store$ | async; let store">
    <ng-container *ngIf="gridState$ | async; let grid">
      <ng-container *ngIf="trackerTree$ | async; let tree">
        <div class="project-container-v3__project-tree">
          <app-tracker-tree
            [inverter]="tree.inverter"
            [panels]="tree.panels"
            [project]="tree.project"
            [strings]="tree.strings"
            [tracker]="tree.tracker"
          ></app-tracker-tree>
        </div>
        <div class="project-container-v3__project-design">
          <app-grid-layout
            [inverters]="store.inverters"
            [panels]="store.panels"
            [selectedStringId]="grid.selectedStringId"
            [strings]="store.strings"
            [trackers]="store.trackers"
          ></app-grid-layout>
        </div>
        <div class="project-container-v3__project-stats">
          <app-string-stats></app-string-stats>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
-->

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template let-item="item" matMenuContent>
    <label>{{ item.name }}</label>
    <button (click)="click()" mat-menu-item>Add</button>
    <button (click)="click()" mat-menu-item>Edit</button>
    <button mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
