<ng-container *ngIf="block">
  <ng-container [ngSwitch]="block.model">
    <ng-container *ngSwitchCase="2">
      <ng-container *ngIf="inverters|getInverter:block.location as inverter">
        <app-block-inverter
          (rightClickInverter)="onRightClickEvent($event)"
          [inverter]="inverter"
        ></app-block-inverter>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="5">
      <ng-container *ngIf="panels|getPanel:block.location as panel">
          <app-block-panel
            (rightClickPanel)="onRightClickEvent($event)"
            [project]="project"
            [gridMode]="gridMode"
            [id]="panel.id"
            [panelString]="panel|getPanelString:panels:strings"
            [panel]="panel"
            [selected]="selected"
            [joinsState]="joins!"
            class="drop-zone__app-block-panel"
          ></app-block-panel>

      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="6">
      <ng-container *ngIf="cables|getCable:block.location as cable">
        <app-block-cable
          (rightClickCable)="onRightClickEvent($event)"
          [cables]="cables"
          [cable]="cable"
        ></app-block-cable>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="8">
      <ng-container
        *ngIf="
          disconnectionPoints|getDisconnectionPoint:block.location as disconnectionPoint
        "
      >
        <app-block-disconnection-point
          (rightClickDp)="onRightClickEvent($event)"
          [disconnectionPoint]="disconnectionPoint"
        ></app-block-disconnection-point>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu" class="custom-menu">
  <ng-template let-item="item" matMenuContent>
    <app-block-menu [item]="item"></app-block-menu>
  </ng-template>
</mat-menu>
