<div class="container">
  <h1 mat-dialog-title>Save Location</h1>
</div>
<img [src]="imgSrc" alt="" width="400px" />
<form class="example-form" ngForm>
  <label for="name">Name: </label>
  <input [formControl]="name" id="name" type="text" />
</form>
<ng-container *ngIf="uploadingImage$ | async">
  <h1>saving</h1>
  <div *ngIf="uploadProgress$ | async as progress">
    <h3>{{progress}}</h3>
    <label class="example-margin">Progress:</label>
    <mat-slider class="example-margin">
      <input [(ngModel)]="uploadProgress" matSliderThumb type="range" />
    </mat-slider>
  </div>
</ng-container>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="true">Cancel</button>
  <button (click)="saveImage()" cdkFocusInitial mat-button>Create {{ name.value }}</button>
</mat-dialog-actions>
