<ng-container *ngrxLet="selectedImage$ | async as image">
  <ng-container *ngIf="image; else noImageSelected">
    <app-image-canvas [image]="image"></app-image-canvas>
  </ng-container>
  <ng-template #noImageSelected>
    <app-image-list></app-image-list>
  </ng-template>
  <!--  <ng-container *ngIf='!image'></ng-container>
    <app-canvas2 [image]="image"></app-canvas2>-->
</ng-container>
<!--
<ng-container *ngIf="imageList$ | async as images">
  <div *ngFor="let img of images">
    <button (click)="selectImage(img)" mat-raised-button>{{ img.name }}</button>
  </div>
</ng-container>
<ng-container *ngIf="imageList$ | async as images">
  <div *ngFor="let img of images">
    <button (click)="selectImage(img)" mat-raised-button>{{ img.name }}</button>
  </div>
</ng-container>
-->
