<!--<p>tracker-stats works!</p>
<div *ngIf="totalVoc">
  <div *ngFor="let voc of totalVoc">
    {{ voc }}
  </div>
</div>
<div *ngIf="totalVmp">
  <div *ngFor="let vmp of totalVmp">
    {{ vmp }}
  </div>
</div>
<div *ngIf="totalPmax">
  <div *ngFor="let pmax of totalPmax">
    {{ pmax }}
  </div>
</div>
<div *ngIf="totalIsc">
  <div *ngFor="let isc of totalIsc">
    {{ isc }}
  </div>
</div>
<div *ngIf="totalImp">
  <div *ngFor="let imp of totalImp">
    {{ imp }}
  </div>
</div>-->
<!--
<ng-container *ngIf="project$ | async; let project">
  <ng-container *ngIf="inverter$ | async; let inverter">
    <h4>ID: {{ inverter.id }}</h4>
    <p>{{ inverter.name }}</p>
    <ul>
      <li>VOC: {{ invertersTotalVoc[inverter.id] }}</li>
      <li>VMP: {{ invertersTotalVmp[inverter.id] }}</li>
      <li>PMAX:{{ invertersTotalPmax[inverter.id] }}</li>
      <li>ISC: {{ invertersTotalIsc[inverter.id] }}</li>
      <li>IMP: {{ invertersTotalImp[inverter.id] }}</li>
    </ul>
    <ng-container *ngIf="tracker$ | async; let tracker">
      <h4>ID: {{ tracker.id }}</h4>
      <p>{{ tracker.name }}</p>
      <ul>
        <li>VOC: {{ trackerTotalVoc[tracker.id] }}</li>
        <li>VMP: {{ trackerTotalVmp[tracker.id] }}</li>
        <li>PMAX:{{ trackerTotalPmax[tracker.id] }}</li>
        <li>ISC: {{ trackerTotalIsc[tracker.id] }}</li>
        <li>IMP: {{ trackerTotalImp[tracker.id] }}</li>
      </ul>
      <ng-container *ngIf="strings$ | async; let strings">
        <div *ngFor="let string of strings">
          <h4>ID: {{ string.id }}</h4>
          <p>{{ string.name }}</p>
          <ul>
            <li>VOC: {{ totalVoc[string.id] }}</li>
            <li>VMP: {{ totalVmp[string.id] }}</li>
            <li>PMAX:{{ totalPmax[string.id] }}</li>
            <li>ISC: {{ totalIsc[string.id] }}</li>
            <li>IMP: {{ totalImp[string.id] }}</li>
          </ul>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
-->
