<ng-container *ngIf="disconnectionPoint$ | async as disconnectionPoint">
  <div class="drop-zone">
    <!--    <app-panel-link
          *ngIf="selectedLinks$ | async; let selectedLinks"
          [isNegativeLink]="
            selectedLinks?.selectedNegativeLinkTo === disconnectionPoint.id
          "
          [isPositiveLink]="
            selectedLinks?.selectedPositiveLinkTo === disconnectionPoint.id
          "
          class="drop-zone__svg"
        ></app-panel-link>-->
    <div
      #disconnectionPointDiv
      (contextmenu)="onRightClick($event, disconnectionPoint)"
      [cdkDragData]="disconnectionPoint"
      [matTooltip]="displayTooltip(disconnectionPoint)"
      [style.border]="'2px solid ' + disconnectionPoint.color"
      cdkDrag
      class="drop-zone__disconnection-point"
      matTooltipPosition="right"
    >
      DP
    </div>
  </div>
</ng-container>

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-container *ngIf="disconnectionPoint$ | async as disconnectionPoint">
    <ng-template matMenuContent>
      <div class="right-click-menu">
        <button class="right-click-menu__button" mat-menu-item>Edit</button>
        <button
          (click)="deleteDisconnectionPoint(disconnectionPoint)"
          class="right-click-menu__button"
          mat-menu-item
        >
          Delete
        </button>
      </div>
    </ng-template>
  </ng-container>
</mat-menu>

<!--
'background-color':
grid.selectedString?.id === panel.string_id ? '#07ffd4' : '#9ec7f9',-->
<!--
[ngStyle]="{
'background-color': panelToJoin?.includes(panel)
? '#07ffd4'
: '#9ec7f9'
}"-->
