<ng-container *ngIf="disconnectionPoint">
  <div class="drop-zone">
    <div
      #disconnectionPointDiv
      [cdkDragData]="disconnectionPoint"
      [matTooltip]="displayTooltip(disconnectionPoint)"
      [style.border]="'2px solid ' + disconnectionPoint.color"
      cdkDrag
      class="drop-zone__disconnection-point"
      matTooltipPosition="right"
    >
      <!--            P-->
    </div>
  </div>
</ng-container>
<!--
'background-color':
grid.selectedString?.id === panel.string_id ? '#07ffd4' : '#9ec7f9',-->
<!--
[ngStyle]="{
'background-color': panelToJoin?.includes(panel)
? '#07ffd4'
: '#9ec7f9'
}"-->
