<ng-container *ngIf="disconnectionPoint">
  <div class="drop-zone">
    <!--    <app-panel-link
          *ngIf="selectedLinks$ | async; let selectedLinks"
          [isNegativeLink]="
            selectedLinks?.selectedNegativeLinkTo === disconnectionPoint.id
          "
          [isPositiveLink]="
            selectedLinks?.selectedPositiveLinkTo === disconnectionPoint.id
          "
          class="drop-zone__svg"
        ></app-panel-link>-->
    <div
      #disconnectionPointDiv
      (contextmenu)="onRightClick($event, disconnectionPoint)"
      [cdkDragData]="disconnectionPoint"
      [matTooltip]="displayTooltip(disconnectionPoint)"
      [style.border]="'2px solid ' + disconnectionPoint.color"
      cdkDrag
      class="drop-zone__disconnection-point"
      matTooltipPosition="right"
    >
      DP
    </div>
  </div>
</ng-container>
<!--
'background-color':
grid.selectedString?.id === panel.string_id ? '#07ffd4' : '#9ec7f9',-->
<!--
[ngStyle]="{
'background-color': panelToJoin?.includes(panel)
? '#07ffd4'
: '#9ec7f9'
}"-->
