<ng-container [ngSwitch]="model">
  <div *ngSwitchCase="1">
    <ng-container *ngIf="projectId && inverter">
      <ng-container *ngIf="strings$! | async as trackerStrings">
        <button (click)="createTracker(projectId, inverter)" mat-icon-button>
          <mat-icon>add_circle</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button (click)="deleteInverter(inverter)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button
          (click)="selectInverterStrings(trackerStringsFiltered)"
          *ngIf="
            trackerStrings
              | filterStringsBy: inverter.id:1 as trackerStringsFiltered
          "
          mat-icon-button
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <div *ngSwitchCase="2">
    <ng-container *ngIf="projectId && inverter && tracker">
      <ng-container *ngIf="strings$! | async as trackerStrings">
        <button
          (click)="createString(projectId, inverter, tracker)"
          mat-icon-button
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button (click)="deleteTracker(tracker)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button
          (click)="selectTrackerStrings(trackerStringsFiltered)"
          *ngIf="
            trackerStrings
              | filterStringsBy: tracker.id:2 as trackerStringsFiltered
          "
          mat-icon-button
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <div *ngSwitchCase="3">
    <ng-container *ngIf="projectId && inverter && tracker && string">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button (click)="deleteString(string)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button (click)="selectString(string)" mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </ng-container>
  </div>
</ng-container>
<!--<button (click)="create()" mat-icon-button>
  <mat-icon>add_circle</mat-icon>
</button>
&lt;!&ndash;<button (click)="settings()" mat-icon-button>
  <mat-icon>settings</mat-icon>
</button>&ndash;&gt;
<button [matMenuTriggerFor]="menu" mat-icon-button>
  <mat-icon>settings</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon>delete</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon>open_in_new</mat-icon>
</button>
<button (click)="select()" mat-icon-button>
  <mat-icon>chevron_right</mat-icon>
</button>-->

<mat-menu #menu="matMenu">
  <ng-container *ngIf="model === 3">
    <button (click)="changeStringColor('red')" mat-menu-item>Red</button>
    <button (click)="changeStringColor('green')" mat-menu-item>Green</button>
    <button (click)="changeStringColor('purple')" mat-menu-item>Purple</button>
  </ng-container>
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
