<ng-container *ngIf="panel$ | async as panel">
  <div class="drop-zone">
    <app-panel-link
      [isNegativeLink]="(selectedNegativeTo$ | async)! === panel.id"
      [isPositiveLink]="(selectedPositiveTo$ | async)! === panel.id"
      class="drop-zone__svg"
    ></app-panel-link>
    <ng-container [ngSwitch]="panel.rotation">
      <ng-container *ngSwitchCase="0">
        <svg viewBox="0 0 100 100">
          <path
            d="
              M 30, 0
              V 100
              "
          />
          <path
            d="
              M 70, 0
              V 100
              "
          />
        </svg>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <svg viewBox="0 0 100 100">
          <path
            d="
              M 0, 30
              H 100
              "
          />
          <path
            d="
              M 0, 70
              H 100
              "
          />
        </svg>
      </ng-container>
    </ng-container>
    <div
      #panelDiv
      (click)="panelAction(panel, $event.shiftKey)"
      (contextmenu)="onRightClick($event, panel)"
      *ngrxLet="selectedId$ | async as selectedId"
      [cdkDragData]="panel"
      [class.drop-zone__bg-default]="selectedId !== panel.id"
      [class.drop-zone__bg-negative]="(selectedNegativeTo$ | async)! === panel.id"
      [class.drop-zone__bg-positive]="(selectedPositiveTo$ | async)! === panel.id"
      [class.drop-zone__bg-selected]="
        (selectedId$ | async)! === panel.id || (multiSelectIds$ | async)?.includes(panel.id)
      "
      [class.drop-zone__bg-string-selected]="(selectedId$ | async)! === panel.string_id"
      [class.drop-zone__bg-to-join]="(panelToJoin$ | async)?.id === panel.id"
      [matTooltip]="
        displayTooltip(
          panel,
          (selectedUnit$ | async)!,
          (selectedId$ | async)!,
          (selectedStringTooltip$ | async)!,
          (panel | panelTooltipAsync | async)!
        )
      "
      [ngStyle]="{
        height: panel.rotation === 0 ? '18px' : '23px',
        width: panel.rotation === 0 ? '23px' : '18px'
      }"
      cdkDrag
      class="drop-zone__panel"
      matTooltipClass="drop-zone__tooltip"
      matTooltipPosition="right"
    ></div>
  </div>
</ng-container>

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-container *ngIf="panel$ | async as panel">
    <ng-template matMenuContent>
      <div class="right-click-menu">
        <ng-container *ngIf="(selectedId$ | async) === panel.string_id; else stringNotSelected">
          <button class="right-click-menu__button" mat-menu-item>Edit String</button>
          <button
            (click)="deleteSelectedString(panel.string_id)"
            class="right-click-menu__button"
            mat-menu-item
          >
            Delete String
          </button>
        </ng-container>
        <ng-template #stringNotSelected>
          <button class="right-click-menu__button" mat-menu-item>Edit</button>
          <button (click)="rotatePanel(panel)" class="right-click-menu__button" mat-menu-item>
            Rotate
          </button>
          <button
            (click)="addSelectedToExistingString()"
            *ngIf="(selectedId$ | async)! === panel.id"
            class="right-click-menu__button"
            mat-menu-item
          >
            Add to existing String
          </button>
          <button
            (click)="selectString(panel)"
            *ngIf="panel.string_id !== 'undefined'"
            class="right-click-menu__button"
            mat-menu-item
          >
            Select String
          </button>
          <ng-container *ngIf="(multiSelectIds$ | async)?.includes(panel.id)">
            <button
              (click)="createNewStringWithSelected()"
              class="right-click-menu__button"
              mat-menu-item
            >
              Create new string with selected
            </button>
            <button
              (click)="addSelectedToExistingString()"
              class="right-click-menu__button"
              mat-menu-item
            >
              Add selected to existing string
            </button>
          </ng-container>
          <button (click)="deletePanel(panel)" class="right-click-menu__button" mat-menu-item>
            Delete Panel
          </button>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</mat-menu>
