$borderColor: black;
.right-click-menu {
  background-color: #f6eded;

  &__button {
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
    border-radius: inherit;

    &:hover {
      background: #545bff;
    }
  }
}

svg {
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index: 0;
}

path {
  //stroke: #37474F;
  stroke: rgb(152, 152, 152);
  //stroke: #78909C;
  fill: none;
  stroke-width: 5;
  vector-effect: non-scaling-stroke;
  z-index: 1;
}

.drop-zone {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  //left: 10px;
  border: #24292e;

  //background-color: hsl(0deg, 100%, 80%);
  // background-color: hwb(red, 0deg, 100%, 80%);
  background-color: lab(150% -400 400);;
  //background-color: #f6eded;
  width: 30px;
  height: 30px;

  &__svg {
    //display: flex;
    pointer-events: none;
    z-index: 4;
    position: relative;
    //justify-content: center;
    //align-items: center;
    //align-content: center;


    left: 7px;
    //left: 1.8px;
  }

  &__tooltip {
    white-space: pre-wrap;
  }

  &__panel {
    border: 2px solid $borderColor;
    position: absolute;
    /*    width: 20px;
        height: 20px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    &:hover {
      color: red;
      width: 23px;
      height: 23px;
    }
  }

  &__pathMapText {
    font-size: 10px;
  }

  &__bg-default {
    background-color: #95c2fa;
  }

  &__bg-selected {
    background-color: #07ffd4;
  }

  &__bg-string-selected {
    background-color: #07d2ff;
    border: 2px solid lighten($borderColor, 20%);
    //border: 2px solid #001fff;
  }

  &__bg-positive {
    background-color: #b595f9;
  }

  &__bg-negative {
    background-color: #38c1ff;
  }

  &__bg-to-join {
    background-color: #ff00d6;
  }
}


