<ng-container *ngIf="panel$ | async as panel">
  <ng-container
    *ngrxLet="{
      positiveTo: selectedPositiveTo$ | async,
      negativeTo: selectedNegativeTo$ | async
    } as selectedLinks"
  >
    <div class="drop-zone">
      <app-panel-link
        [isNegativeLink]="selectedLinks?.negativeTo === panel.id"
        [isPositiveLink]="selectedLinks?.positiveTo === panel.id"
        class="drop-zone__svg"
      ></app-panel-link>
      <div
        #panelDiv
        (click)="panelAction(panel, $event.shiftKey)"
        (contextmenu)="onRightClick($event, panel)"
        *ngrxLet="selectedId$ | async as selectedId"
        [cdkDragData]="panel"
        [class.drop-zone__bg-default]="selectedId !== panel.id"
        [class.drop-zone__bg-negative]="
          (selectedNegativeTo$ | async)! === panel.id
        "
        [class.drop-zone__bg-positive]="
          (selectedPositiveTo$ | async)! === panel.id
        "
        [class.drop-zone__bg-selected]="
          (selectedId$ | async)! === panel.id ||
          (selectedId$ | async)! === panel.string_id ||
          (multiSelectIds$ | async)?.includes(panel.id)
        "
        [class.drop-zone__bg-to-join]="(panelToJoin$ | async)?.id === panel.id"
        [matTooltip]="
          displayTooltip(
            panel,
            (selectedUnit$ | async)!,
            (selectedId$ | async)!,
            (selectedStringTooltip$ | async)!
          )
        "
        [style.border]="'2px solid ' + panel.color"
        cdkDrag
        class="drop-zone__panel"
        matTooltipClass="drop-zone__tooltip"
        matTooltipPosition="right"
      >
        <!--            P-->
      </div>
    </div>
  </ng-container>
</ng-container>

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-container *ngIf="panel$ | async as panel">
    <ng-template matMenuContent>
      <div class="right-click-menu">
        <button class="right-click-menu__button" mat-menu-item>Edit</button>
        <button
          (click)="selectString(panel)"
          class="right-click-menu__button"
          mat-menu-item
        >
          Select String
        </button>
        <button
          (click)="deletePanel(panel)"
          class="right-click-menu__button"
          mat-menu-item
        >
          Delete
        </button>
      </div>
    </ng-template>
  </ng-container>
</mat-menu>
