<ng-container *ngIf="mapsApiLoaded">
  <div *ngIf="center && map" [center]="center" [map]="map" autocompleteDirective>
    <input [formControl]="address" id="autocomplete" placeholder="enter" type="text" />
  </div>
  <div>
    <google-map
      (mapRightclick)="onRightClick($event)"
      [center]="center"
      [options]="options"
      [zoom]="zoom"
      height="800px"
      mapsDirective
      width="100%"
    >
      >
    </google-map>
  </div>
</ng-container>

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template let-data="data" matMenuContent>
    <div class="right-click-menu">
      <button (click)="selectPosition(data)" class="right-click-menu__button" mat-menu-item>
        Select Position
      </button>
    </div>
  </ng-template>
</mat-menu>
