<!--<h1 mat-dialog-title>Hi {{ data.s }}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input [(ngModel)]="data.animal" matInput />
  </mat-form-field>
</div>-->
<mat-form-field>
  <mat-label>Select a String</mat-label>
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let string of data.strings" [value]="string.id">
      {{ string.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button [mat-dialog-close]="selected" cdkFocusInitial mat-button>Ok</button>
</div>
