<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'INVERTER'">
    <ul *ngIf="inverter" style="list-style: none">
      <li>
        VOC:
        {{ stats.invertersTotalVoc[inverter.id] }}V
      </li>
      <li>
        VMP:
        {{ stats.invertersTotalVmp[inverter.id] }}V
      </li>
      <li>
        PMAX:
        {{ stats.invertersTotalPmax[inverter.id] }}W
      </li>
      <li>
        ISC:
        {{ stats.invertersTotalIsc[inverter.id] }}A
      </li>
      <li>
        IMP:
        {{ stats.invertersTotalImp[inverter.id] }}A
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="'TRACKER'">
    <ul *ngIf="tracker" style="list-style: none">
      <li>
        VOC:
        {{ stats.trackersTotalVoc[tracker.id] }}V
      </li>
      <li>
        VMP:
        {{ stats.trackersTotalVmp[tracker.id] }}V
      </li>
      <li>
        PMAX:
        {{ stats.trackersTotalPmax[tracker.id] }}W
      </li>
      <li>
        ISC:
        {{ stats.trackersTotalIsc[tracker.id] }}A
      </li>
      <li>
        IMP:
        {{ stats.trackersTotalImp[tracker.id] }}A
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="'STRING'">
    <ul *ngIf="string" style="list-style: none">
      <li>
        VOC:
        {{ stats.stringsTotalVoc[string.id] }}V
      </li>
      <li>
        VMP:
        {{ stats.stringsTotalVmp[string.id] }}V
      </li>
      <li>
        PMAX:
        {{ stats.stringsTotalPmax[string.id] }}W
      </li>
      <li>
        ISC:
        {{ stats.stringsTotalIsc[string.id] }}A
      </li>
      <li>
        IMP:
        {{ stats.stringsTotalImp[string.id] }}A
      </li>
    </ul>
  </div>
</ng-container>
