@mixin drawParent() {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 33px;
  width: 3px;
  //background-color: #e114f1;
  z-index: 1;
  //clip-path: inset(0 0 50% 0);

}


@mixin drawAfter() {
  content: "";
  position: absolute;
  width: 34px;
  height: 3px;
  //background-color: #e114f1;
  top: 14px;
  left: -15px;
}

.svg-cable {
  z-index: 2;
}

.row {
  display: flex;

  //display: flex;
}

.col {
  border: 0.01px solid rgb(72, 64, 56);
}

.project-design-container {
  //width: 200%;
  //height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    //transition: transform 0.2s;
    //transition: transform 0.2s, -webkit-transform 0.2s; !* Animation *!


    &:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }*/

  /*  transform-origin: top left;
    transform: scale(50%);*/
  /*  transform: scale(0.1);
    transform-origin: 25% 25%;*/

}

/*
app-block-panel {
  background-color: #95c2fa;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  //transition: transform .1s;
  !*

      &:hover {
        transform: scale(1.1);
      }*!

  &:hover {
    //background-color: red;
    color: red;
    width: 23px;
    height: 23px;
  }
}*/

/*svg {
  !* border: 5px solid red; *!
  height: 500px;
  width: 100%;
}

path {
  stroke: black;
  fill: none;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}*/
/** {
  zoom: 100;
}*/

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #24292e;
  background-color: #f6eded;
  width: 30px;
  height: 30px;

  &__app-block-panel {
    background-color: #cc1313;
  }


  &__svg {
    pointer-events: none;
    z-index: 1;
    position: relative;
    top: 1.8px;
  }

  &__svg-top-bottom {
    z-index: 1;
    position: relative;
    left: -1px;
    top: 2px;
  }

  &__svg-left-top {
    z-index: 1;
    position: relative;
    left: -1px;
    top: 2px;
  }


  &__panel {
    background-color: #95c2fa;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    //transition: transform .1s;
    /*

        &:hover {
          transform: scale(1.1);
        }*/

    &:hover {
      //background-color: red;
      color: red;
      width: 23px;
      height: 23px;
    }
  }

  &__cable {
    position: absolute;

    background-color: #486079;
    width: 20px;
    height: 20px;
    display: flex;
    /*    align-items: center;
        align-content: center;
        justify-content: center;*/


    &:hover {
      //background-color: red;
      color: red;
      width: 23px;
      height: 23px;
    }

    &__svg-cable-top-bottom {
      z-index: 1;
      position: relative;
      left: -5px;
      top: -5px;
      //width: 100px/**/;

      //left: -5px;
      //top: -5px;
      //top: 30px;
      //left: 30px;
      //position: relative;
    }

    &__svg-cable {
      z-index: 1;
      position: relative;
      left: -5px;
      top: -5px;
      //top: 30px;
      //left: 30px;
      //position: relative;
    }

    &__draw__top {
      @include drawParent();
      background-color: #e114f1;
      clip-path: inset(0 0 50% 0);
      //overflow: hidden;

      &:after {
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
        //float: left;
      }
    }

    &__draw__bottom {
      @include drawParent();
      background-color: #e114f1;

      //overflow: hidden;

      clip-path: inset(50% 0 0 0);

      &:after {
        //float: left;
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
      }
    }

    &__draw__top-bottom {
      @include drawParent();
      background-color: #e114f1;

      //overflow: hidden;

      clip-path: inset(0 2% 0 2%);

      &:after {
        //float: left;
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
      }
    }

    &__draw__left {
      @include drawParent();
      background-color: #e114f1;

      //overflow: hidden;

      clip-path: inset(0 30% 0 0);

      &:after {
        //float: left;
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
      }
    }

    &__draw__left-top {
      @include drawParent();
      background-color: #e114f1;

      //overflow: hidden;

      //clip-path: polygon(0 31%, 0 0, 35% 0%, 65% 0%, 65% 25%, 65% 22%, 65% 50%, 65% 50%, 67% 65%, 34% 65%, 35% 65%, 0 65%);
      //clip-path: inset(10% 0 0 0);
      clip-path: polygon(0 31%, 0 0, 35% 0%, 65% 0%, 65% 25%, 65% 22%, 65% 50%, 65% 50%, 67% 65%, 34% 65%, 35% 65%, 0 65%);

      &:after {
        //clip-path: polygon(0 31%, 0 0, 35% 0%, 65% 0%, 65% 25%, 65% 22%, 65% 50%, 65% 50%, 67% 65%, 34% 65%, 35% 65%, 0 65%);
        //float: left;
        //clip-path: inset(-50% 50% -50% -50%);
        //clip-path: circle()(-50% 50% -50% -50%);
        //clip-path: inset(10px 20px 30px 40px);
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
      }
    }


    &__draw__right {
      @include drawParent();
      background-color: #e114f1;

      //overflow: hidden;

      clip-path: inset(0 0 0 30%);

      &:after {
        //float: left;
        @include drawAfter();
        background-color: #e114f1;
        //overflow: hidden;
      }
    }
  }

  &__inverter {
    //align-items: center;
    //justify-content: center;
    //border: 1px solid orangered;
    background-color: #95c2fa;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      //background-color: red;
      color: red;
      width: 23px;
      height: 23px;
    }


    &__line {
      display: flex;
      //flex-direction: row-reverse;
      align-items: center;
      position: relative;
      justify-content: center;
      height: 33px;
      left: -1px;
      //left: 50%;
      //margin-left: -3px;
      //top: 10%;
      width: 5px;
      //bottom: -10px;
      background-color: red;
      z-index: 1;


      &:after {

        content: "";
        position: absolute;
        width: 34px;
        height: 5px;
        background-color: red;
        top: 14px;
        left: -15px;

      }
    }
  }
}


.panel {
  //align-items: center;
  //justify-content: center;
  //border: 1px solid orangered;
  background-color: #95c2fa;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cable {
  //align-items: center;
  //justify-content: center;
  //border: 1px solid orangered;
  background-color: #486079;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.inverter {
  //align-items: center;
  //justify-content: center;
  //border: 1px solid orangered;
  background-color: #95c2fa;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    //border-left: 6px solid red;
    height: 40px;
    //position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    //position: absolute;
    //top: 50%;
    width: 5px;
    //height: 100%;
    background-color: red;

    /* draw behind child elements */
    //z-index: 0;
    //margin-left: -3px;
    //top: 0
  }
}

.content {
  position: relative;
  z-index: 2;
  margin: 50px;
}

.custom-menu {
  display: flex;
  align-items: flex-end;
}

mat-menu {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}

.mat-menu-panel {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}

/*.mat-menu-item {
  margin-top: 15px;
  background-color: #95c2fa;
  color: #1976d2;
}*/

canvas {
  width: 80%;
  //width: 1000px;
  height: 80%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
  margin: -250px 0 0 -250px;
}
