<ng-container *ngIf="project$ | async; let project">
  <ng-container *ngIf="modes$ | async; let modes">
    <div cdkDropListGroup class="project-design-container">
      <div *ngFor="let n of numSequence(rows); let row = index" class="row">
        <div *ngFor="let n of numSequence(cols); let col = index" class="col">
          <ng-container *ngrxLet="row | getGridString: col; let locationString">
            <div
              (cdkDropListDropped)="gridDrag.gridDrop($event, project, blocks!)"
              (click)="
                gridAction.cellAction(locationString, modes, project, blocks!)
              "
              *ngrxLet="blocks$ | async as blocks"
              [id]="locationString"
              cdkDropList
              class="drop-zone"
            >
              <ng-container
                *ngIf="blocks! | blockByLocation: locationString as block"
              >
                <blockDirective [id]="block.location">
                  <app-block-switch
                    [block]="block"
                    [cables]="(cables$ | async)!"
                    [disconnectionPoints]="(disconnectionPoints$ | async)!"
                    [gridMode]="modes.gridMode"
                    [inverters]="(inverters$ | async)!"
                    [panelJoins]="(panelJoins$ | async)!"
                    [panels]="(panels$ | async)!"
                    [selected]="(selected$ | async)!"
                    [strings]="(strings$ | async)!"
                  ></app-block-switch>
                </blockDirective>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
