.project-view-container {
  display: flex;
  justify-content: center;
  //align-content: center;
  //align-self: center;
  align-content: flex-end;
  //flex: border-box;


  &__project-card {
    max-width: 400px;
  }
}

