@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "primeng/resources/themes/lara-light-indigo/theme.css";
//@import "primeng/resources/themes/mdc-dark-deeppurple/theme.css";
//@import "primeng/resources/themes/mdc-light-deeppurple/theme.css";
//@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
	font-family: var(--font-family);
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media only screen and (max-width: 640px) {
	.hide-mobile {
		display: none !important;
	}
}

@media only screen and (min-width: 641px) {
	.hide-desktop {
		display: none !important;
	}
}


.mat-expansion-panel-body {
	@media (min-width: 641px) {
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: 640px) {
		padding-left: 0;
		padding-right: 0;
	}
}

/* You can add global styles to this file, and also import other style files */