
.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #24292e;
  background-color: #f6eded;
  width: 30px;
  height: 30px;

  &__svg {
    pointer-events: none;
    z-index: 1;
    position: relative;
    top: 1.8px;
  }

  &__disconnection-point {
    position: absolute;
    //background-color: #95c2fa;
    width: 20px;
    height: 20px;
    display: flex;

    &:hover {
      color: red;
      width: 23px;
      height: 23px;
    }

  }

  &__bg-default {
    background-color: #ff151c;
  }

  &__bg-selected {
    background-color: #07ffd4;
  }

  &__bg-positive {
    background-color: #b595f9;
  }

  &__bg-negative {
    background-color: #38c1ff;
  }

  &__bg-to-join {
    background-color: #ff00d6;
  }
}


.right-click-menu {
  background-color: #f6eded;

  &__button {
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
    border-radius: inherit;

    &:hover {
      background: #545bff;
    }
  }
}

