<ng-container *ngIf="rail$ | async as rail">
  <div class="drop-zone">
    <app-rail-join class="drop-zone__svg"></app-rail-join>
    <svg viewBox="0 0 100 100">
      <path
        d="
          M 25, 0
          V 100
          "
      />
      <path
        d="
          M 75, 0
          V 100
          "
      />
    </svg>
    <div
      (click)="railAction(rail)"
      (contextmenu)="onRightClick($event, rail)"
      *ngrxLet="selectedId$ | async as selectedId"
      [cdkDragData]="rail"
      [matTooltip]="displayTooltip(rail)"
      cdkDrag
      class="drop-zone__rail"
      matTooltipClass="drop-zone__tooltip"
      matTooltipPosition="right"
    >
      <!--            P-->
    </div>
  </div>
</ng-container>
<!--[class.drop-zone__bg-default]="selectedId !== rail.id"
[class.drop-zone__bg-selected]="selectedId === rail.id"-->

<div
  [matMenuTriggerFor]="rightMenu"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  style="visibility: hidden; position: fixed"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-container *ngIf="rail$ | async as rail">
    <ng-template matMenuContent>
      <div class="right-click-menu">
        <button class="right-click-menu__button" mat-menu-item>Edit</button>
        <button (click)="deleteRail(rail)" class="right-click-menu__button" mat-menu-item>
          Delete
        </button>
      </div>
    </ng-template>
  </ng-container>
</mat-menu>
