<!--<ng-template *ngrxLet="project$ | async as project">-->
<mat-toolbar class="grid-toolbar-container">
  <ng-container *ngrxLet="stringsEntity.entities$ | async; let strings">
    <!--    <button
          (click)="openDialog(strings)"
          *ngIf="strings"
          aria-label="Example icon-button with menu icon"
          class="example-icon"
          mat-stroked-button
        >
          Select a String
        </button>-->
    <button
      *ngIf="strings"
      [matMenuTriggerFor]="selectStringMenu"
      aria-label="Example icon-button with menu icon"
      class="example-icon"
      mat-stroked-button
    >
      Select a String
    </button>
  </ng-container>

  <!--  <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let string of stringsEntity.entities$ | async"
          [value]="string.id"
        >
          {{ string.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
  <button
    (click)="openNewStringDialog()"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-stroked-button
  >
    Create String
  </button>
  <button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>brush</mat-icon>
  </button>
  <button
    (click)="changeGridMode(1)"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
    (click)="changeGridMode(3)"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>polyline</mat-icon>
  </button>
  <button
    (click)="changeGridMode(2)"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-button
    mat-icon-button
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
<!--</ng-template>-->

<mat-menu #menu="matMenu">
  <button (click)="selectCreateMode(5)" mat-menu-item>Panels</button>
  <button (click)="selectCreateMode(6)" mat-menu-item>Cable</button>
  <button (click)="selectCreateMode(2)" mat-menu-item>Inverter</button>
</mat-menu>

<mat-menu #selectStringMenu="matMenu">
  <ng-container *ngFor="let string of stringsEntity.entities$ | async">
    <button (click)="selectString(string)" mat-menu-item>
      {{ string.name }}
    </button>
  </ng-container>
</mat-menu>
