<div class="containerOuter">
  <div class="containerInner">
    <h1 class="title">Solar <span class="titlePink">Engineer</span></h1>

    <div *ngIf="projects$ | async as projects">
      <div>
        <!--        <mat-selection-list
                  #userProjects
                  *ngFor="let project of projects(deprecated)"
                  [multiple]="false"
                >
                  <mat-list-option (click)="onRouteToProject(project)">
                    {{ project.name }}
                    &lt;!&ndash;            <app-project-list-item [project]="project"></app-project-list-item>&ndash;&gt;
                  </mat-list-option>
                </mat-selection-list>-->
        <!--        <h1>{{bing.name}}</h1>-->
        <p>
          <!--          Option selected: {{userProjects.selectedOptions.selected[0]?.value.name}}-->
        </p>
      </div>
    </div>

    <!--    <ul #myUL id="myUL">
          <li><span #caret class="caret">Beverages</span>
            <ul class="nested">
              <li>Water</li>
              <li>Coffee</li>
              <li><span #caret class="caret">Tea</span>
                <ul class="nested">
                  <li>Black Tea</li>
                  <li>White Tea</li>
                  <li><span #caret class="caret">Green Tea</span>
                    <ul class="nested">
                      <li>Sencha</li>
                      <li>Gyokuro</li>
                      <li>Matcha</li>
                      <li>Pi Lo Chun</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="tree">
          <li>
            <details open>
              <summary>Giant planets</summary>
              <ul>
                <li>
                  <details>
                    <summary>Gas giants</summary>
                    <ul>
                      <li>Jupiter</li>
                      <li>Saturn</li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Ice giants</summary>
                    <ul>
                      <li>Uranus</li>
                      <li>Neptune</li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>
        </ul>-->
  </div>
</div>
