<mat-card>
  <!--  <div *ngIf="isSignup">
      <h3>Create Account</h3>

      <button (click)="changeType('login')" mat-stroked-button>
        Returning user?
      </button>
    </div>

    <div *ngIf="isLogin">
      <h3>Sign In</h3>
      <button (click)="changeType('signup')" mat-stroked-button size="small">
        New user?
      </button>
    </div>

    <div *ngIf="isPasswordReset">
      <h3>Reset Password</h3>
      <button (click)="changeType('login')" mat-button size="small">Back</button>
    </div>-->

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field>
      <input
        autocomplete="off"
        formControlName="email"
        matInput
        placeholder="Email"
        type="email"
      />

      <mat-error *ngIf="email!.invalid">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <!--    <mat-form-field *ngIf="!isPasswordReset" [color]="email.valid && 'accent'">
          <input
            autocomplete="off"
            formControlName="password"
            matInput
            placeholder="Password"
            type="password"
          />

          <mat-error *ngIf="password.invalid && password.dirty">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="isSignup"
          [color]="passwordDoesMatch ? 'accent' : 'warn'"
        >
          <input
            autocomplete="off"
            formControlName="passwordConfirm"
            matInput
            placeholder="Confirm password"
            type="password"
          />

          <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
            Password does not match
          </mat-error>
        </mat-form-field>

        <mat-error class="server-error">{{ serverMessage }}</mat-error>

        <button
          *ngIf="isPasswordReset"
          [disabled]="loading"
          mat-stroked-button
          type="submit"
        >
          Send Reset Email
        </button>-->

    <button
      *ngIf="!isPasswordReset"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
      color="accent"
      mat-raised-button
      type="submit"
    >
      Submit
    </button>
  </form>
  <!--
    <button
      (click)="changeType('reset')"
      *ngIf="isLogin && !isPasswordReset"
      mat-button
    >
      Forgot password?
    </button>-->
</mat-card>
