<!--
<ng-container *ngIf="project$ | async as project">
  <ng-container *ngIf="inverter$ | async as inverter">
    <ng-container *ngIf="tracker$ | async as tracker">
      <ng-container *ngIf="strings$ | async as strings">
        <ng-container *ngIf="panels$ | async as panels">
          <div *ngIf="inverter" class="stats-container">
            <div *ngIf="tracker">
              <div *ngIf="strings">
                <div *ngIf="panels">
                  <div
                    *ngFor="let string of strings"
                    class="stats-container__stats-box"
                  >
                    <h4>{{ string.name }}</h4>
                    &lt;!&ndash;         <p>
                               {{
                                 (panels | filterPanels: string.id)
                                   .length
                               }}
                               Panels
                             </p>&ndash;&gt;
                    <ul>
                      <li>VOC: {{ totalVoc[string.id] }}</li>
                      <li>VMP: {{ totalVmp[string.id] }}</li>
                      <li>PMAX: {{ totalPmax[string.id] }}</li>
                      <li>ISC: {{ totalIsc[string.id] }}</li>
                      <li>IMP: {{ totalImp[string.id] }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
-->
