<!--
<div class="project-tree">
  <ng-container *ngIf="trackerTree$ | async; let trackerTree">
    <ng-container *ngIf="trackerTree.project">
      <ng-container *ngIf="trackerTree.inverter">
        <ng-container *ngIf="trackerTree.tracker">
          &lt;!&ndash;  <ng-container *ngIf="strings">&ndash;&gt;
          <button
            (click)="
              createString(
                trackerTree.project,
                trackerTree.inverter,
                trackerTree.tracker
              )
            "
            mat-stroked-button
          >
            Create String
          </button>
          <ng-container *ngIf="trackerTree.strings">
            <div cdkDropListGroup class="project-tree__tracker-item">
              <div
                (cdkDropListDropped)="taskDrop($event)"
                *ngFor="let string of trackerTree.strings; let a = index"
                [cdkDropListConnectedTo]="gridNumbers"
                [cdkDropListData]="panels! | filterPanels: string.id"
                [id]="'string' + string.id.toString()"
                cdkDropList
                cdkDropListOrientation="vertical"
              >
                <div
                  *ngIf="string.tracker_id === tracker?.id"
                  class="project-tree__string-item"
                >
                  <div>
                    <button
                      (click)="toggleString(string, a)"
                      [attr.aria-label]="'Toggle ' + string.name"
                      mat-icon-button
                    >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{ stringBool[a] ? "expand_more" : "chevron_right" }}
                      </mat-icon>
                    </button>
                    {{ string.name }} [{{ string.panel_amount }}]
                  </div>
                  <div *ngIf="stringBool[a]">
                    <div class="project-tree__string-item__button-menu">
                      <app-button-menu
                        [inverter]="inverter"
                        [projectId]="3"
                        [string]="string"
                        [tracker]="tracker"
                        [type]="string.type"
                      ></app-button-menu>
                    </div>

                    <div>
                      <div
                        *ngFor="let panel of trackerTree.panels; let b = index"
                        [cdkDragData]="panel"
                        cdkDrag
                      >
                        &lt;!&ndash;                      cdkDropList [id]="stringModel.id.toString()"&ndash;&gt;
                        <div
                          *ngIf="panel.string_id === string.id"
                          [ngStyle]="{
                            border: '1px solid' + panel.color,

                            background: panel.color
                          }"
                          class="project-tree__panel-item"
                        >
                          <mat-icon
                            cdkDragHandle
                            class="project-tree__panel-item__handle"
                            >drag_indicator
                          </mat-icon>

                          {{ panel.name }} [{{ panel.color }}] [{{
                            panel.location
                          }}]
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
-->
