.grid-inventory-container {
  display: flex;

  //justify-content: space-between;
  //align-items: center;

  &__strings {
    // display: flex;
    // align-items: center;
    //background: lightblue;
    flex: 0 0 50%;
    flex-direction: column;

    &__list {

    }

  }

  &__panels {
    //display: flex;
    //background: lightblue;
    flex: 0 0 50%;
    flex-direction: column;

    &__list {

    }
  }

  /*  &__project-inventory {
      background: #669966;
      flex: 0 0 25%;
    }*/
}

